<div id = 'user-show'>
	
	<span id='title'>

	<h6>Username</h6>
	<%= @user.username %>
 	<h6>First Name</h6>
	<%= @user.first_name %>
	<h6>Last Name</h6>
	<%= @user.last_name %>
	<h6>Password</h6>
	<%= @user.password %>
	<h6>Address</h6>
	<%= @user.address %>
	<h6>City</h6>
	<%= @user.city %>
	<h6>State</h6>
	<%= @user.state %>
	<h6>Postal Code</h6>
	<%= @user.postal_code %>
	<h6>Phone Number</h6>
	<%= @user.phone_number %>
	</span>
</div>

<%= link_to 'Done', root_path %>