<div id = 'user-show'>
	
	<span id='title'>

	<br>
	<%= @user.username %>
	<br>
	
	<%= @user.first_name %>
	<br>
	<%= @user.last_name %>
	
	<br>
	<%= @user.password %>
	<br>
	
	<%= @user.address %>
	<br>
	
	<%= @user.city %>
	<br>

	<%= @user.state %>
	<br>
	
	<%= @user.postal_code %>
	<br>
	<%= @user.phone_number %>
	<br>
	</span>
</div>

<%= link_to 'Done', root_path %>