<!DOCTYPE html>
<html>
<head>
  <title>Sharement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style><%= yield :stylesheets %></style>
</head>
<body>


 <!--  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Sharement</a>
      <a class="navbar-brand" href="/sessions/new"> Log In</a>
      <a class= "navbar-brand" href="/users/new"> Sign Up </a>
      <a class="navbar-brand" href="/">
    </div>
  </nav> -->


   
   <%= yield %>



</body>
</html>
